PORT=8080

DB_URL="postgres://postgres:pipeit@postgres:5432/pipeit"

REDIS_HOST="redis"
REDIS_PORT=6379

JWT_EXPIRED_IN=3600                 # 60 * 60 (s)
JWT_SECRET_KEY="jwt-secret-key"
REFRESH_TOKEN_EXPIRED_IN=5184000000 # 60 * 24 * 60 * 60 * 1000 (ms)

EMAIL_ADDRESS="example@gmail.com"
EMAIL_TOKEN="email-token"

GEMINI_API_KEY="gemini-api-key"
DEEPL_API_KEY="deepl-api-key"
WEATHER_BIT_API_KEY="weatherbit-api-key"
API_FOOTBALL_API_KEY="api-football-api-key"